127.0.0.1   {{ inventory_hostname }} localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# ONLY FOR VAGRANT
192.168.22.10		data1
192.168.22.20		data2
192.168.22.30		data3
192.168.22.40		app1
192.168.22.50		app2
