configure_private_vars:
  ansible_ask_sudo_pass: {{ configure_private_vars.ansible_ask_sudo_pass }}
  ansible_ssh_user: {{ configure_private_vars.ansible_ssh_user }}
  ansible_sudo: {{ configure_private_vars.ansible_sudo }}
  using_ssh_host_keys: {{ configure_private_vars.using_ssh_host_keys }}
database: {{ database }}

