admin_password: {{ admin_password }}
configure_private_vars:
  ansible_ask_sudo_pass: {{ configure_private_vars.ansible_ask_sudo_pass }}
  ansible_ssh_user: {{ configure_private_vars.ansible_ssh_user }}
  ansible_sudo: {{ configure_private_vars.ansible_sudo }}
  using_ssh_host_keys: {{ configure_private_vars.using_ssh_host_keys }}
database: {{ database }}
mongo: {{ mongo }}
mongo_database: {{ mongo_database }}
mongo_host: {{ mongo_host }}
mongo_password: {{ mongo_password }}
mongo_port: {{ mongo_net.port }}
mongo_username: {{ mongo_username }}
munin_password: {{ munin_password }}
pg_database: {{ pg_database }}
pg_host: {{ pg_host }}
pg_password: {{ pg_password }}
pg_port: {{ pg_port }}
pg_username: {{ pg_username }}
primary_machine: {{ primary_machine }}
redis_host: localhost
redis_port: 6379
redis_password: {{ redis_password }}
